<div class="section bannerSection">
  <img
    class="backgroundImg backgroundAfter600px"
    src="{{resourcesFolder}}/images/05_banner/heroBackgroundBanner.jpg"
    alt="1 A retail outlet operating using the free trial version of Paperless Retail software."
  />
  <img
    class="backgroundImg backgroundBefore600px"
    src="{{resourcesFolder}}/images/05_banner/heroBackgroundMobile.jpg"
    alt="2 A retail outlet operating using the free trial version of Paperless Retail software."
  />
  <h2>{{bannerTitle}}</h2>
  <p>{{bannerDescription}}</p>
</div>
