@media only screen and (min-device-width: 100px) and (max-device-width: 750px) {
  #testimonialSection #testimonialDivContainer {
    display: block;
  }
  #testimonialSection .testimonialDiv {
    float: left;
    padding: 0 5px;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 599px) {
  #testimonialSection .testimonialDiv {
    width: 100%;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 750px) {
  #testimonialSection .testimonialDiv {
    width: 50%;
  }
}
