<div class="section catalogueSection">
  <div class="category">
    <h2>SOFTWARE <span>PRODUCTS</span></h2>
    <div class="row">
      <div class="item">
        <img
          src="{{resourcesFolder}}/images/06_catalogue/software/paperless_retail.jpg"
          alt="A modern touch screen running the free trial version of Paperless Retail software."
        />
        <h4>Paperless Retail</h4>
        <p>
          Facilitates and keeps an accurate record of all the transactions between your retail outlet and your customers.
        </p>
        <div class="ctaBtns">
          <a
            href="{{pageLinks.paperless_retail}}"
            class="ctaBtn"
            title="Paperless Retail more information"
          >
            {% include "information.njk" %}
            <span>More information</span>
          </a>
        </div>
      </div>
      <div class="item">
        <img
          src="{{resourcesFolder}}/images/06_catalogue/software/paperless_hospital.jpg"
          alt="A modern touch screen running the free trial version of Paperless Retail software."
        />
        <h4>Paperless Hospital</h4>
        <p>
          Facilitates and keeps an accurate record of all the transactions between your retail outlet and your customers.
        </p>
        <div class="ctaBtns">
          <a
            href="{{pageLinks.paperless_hospital}}"
            class="ctaBtn"
            title="Paperless Retail more information"
          >
            {% include "information.njk" %}
            <span>More information</span>
          </a>
        </div>
      </div>
      <div class="item">
        <img
          src="{{resourcesFolder}}/images/06_catalogue/software/paperless_pharmacy.jpg"
          alt="A modern touch screen running the free trial version of Paperless Retail software."
        />
        <h4>Paperless Pharmacy</h4>
        <p>
          Facilitates and keeps an accurate record of all the transactions between your retail outlet and your customers.
        </p>
        <div class="ctaBtns">
          <a
            href="{{pageLinks.paperless_pharmacy}}"
            class="ctaBtn"
            title="Paperless Retail more information"
          >
            {% include "information.njk" %}
            <span>More information</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <h2>HARDWARE <span>PRODUCTS</span></h2>
    <div class="row">
      <div class="item">
        <img
          src="{{resourcesFolder}}/images/06_catalogue/hardware/thermal_printers.jpg"
          alt="Thermal printers bought from Paperless Integrated Solutions"
        />
        <h4>Thermal printer</h4>
        <p>
          It is the preferred printer for receipts because of its superb print quality and low maintenance costs.
        </p>
        <div class="ctaBtns">
          <div class="ctaBtn">
            {% include "price.njk" %}
            <span>$120.00</span>
          </div>
          <div class="ctaBtn ctaBtn2">
            {% include "information.njk" %}
            <span>Out of stock</span>
          </div>
        </div>
      </div>
      <div class="item">
        <img
          src="{{resourcesFolder}}/images/06_catalogue/hardware/barcode_scanner.jpg"
          alt="A barcode scanner supplied by Paperless Integrated Solutions."
        />
        <h4>Barcode scanner</h4>
        <p>
          It is used to quickly pull product information from the database and add it to the cart.
        </p>
        <div class="ctaBtns">
          <div class="ctaBtn">
            {% include "price.njk" %}
            <span>$45.00</span>
          </div>
          <div class="ctaBtn ctaBtn2">
            {% include "information.njk" %}
            <span>In stock</span>
          </div>
        </div>
      </div>
      <div class="item">
        <img
          src="{{resourcesFolder}}/images/06_catalogue/hardware/thermal_paper.jpg"
          alt="Thermal paper supplied by Paperless Integrated Solutions."
        />
        <h4>Thermal paper ( 80mm / 58mm )</h4>
        <p>
          It is a consumable necessary for thermal printers to function. All receipts are to be printed using this paper.
        </p>
        <div class="ctaBtns">
          <div class="ctaBtn">
            {% include "price.njk" %}
            <span>$3.00 / $0.50</span>
          </div>
          <div class="ctaBtn ctaBtn2">
            {% include "information.njk" %}
            <span>In stock</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
