@media only screen and (min-device-width: 100px) and (max-device-width: 699px) {
  body .catalogueSection .category {
    float: left;
  }
  body .catalogueSection .category .row {
    display: block;
  }
  body .catalogueSection .category .row .item p {
    margin-bottom: 15px;
  }
}

@media only screen and (min-device-width: 100px) and (max-device-width: 319px) {
  body .catalogueSection {
    padding: 0;
  }
  body .catalogueSection .category h2 {
    text-align: center;
  }
  body .catalogueSection .category .row .item {
    width: 85%;
    margin: 25px auto;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 449px) {
  body .catalogueSection .category .row .item {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 699px) {
  body .catalogueSection .category .row .item {
    width: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
