body {
  background-color: #000000;
}

.catalogueSection {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: #fff;
}

.catalogueSection .category {
  width: 100%;
  margin-bottom: 40px;
}
.catalogueSection .category .row,
.catalogueSection .category h2 {
  width: 100%;
}
.catalogueSection .category h2 {
  font-size: 26px;
  line-height: 22px;
}
.catalogueSection .category h2 span {
  color: #0071bc;
}

.catalogueSection .category .row {
  display: flex;
  justify-content: space-between;
}
.catalogueSection .category .row .item {
  width: 32%;
  box-shadow: 0 0 15px rgba(57, 181, 74, 0.27);
  border-radius: 10px;
  overflow: hidden;
}
.catalogueSection .category .row .item h4,
.catalogueSection .category .row .item img,
.catalogueSection .category .row .item p {
  float: left;
  width: 100%;
  margin: 0;
}
.catalogueSection .category .row .item h4,
.catalogueSection .category .row .item p {
  padding: 0 10px;
  color: #707070;
  font-size: 13px;
}
.catalogueSection .category .row .item h4 {
  margin: 15px 0 5px 0;
  color: #0071bc;
  font-size: 16px;
}

.catalogueSection .ctaBtns {
  margin: 0;
  padding: 13px 10px;
}
.catalogueSection .ctaBtns .ctaBtn {
  margin: 5px 10px 5px 0;
}
.slideSelectDiv .slideSelectButton .svgSpan {
  background-color: #0071bc;
  border-radius: 25px;
}
body .catalogueSection .category .row .item .desktopDownload {
  margin-bottom: 5px;
  color: #0071bc;
  font-weight: 500;
  font-size: 11px;
}
