#carouselSection {
  padding: 0;
  margin-top: 0;
  overflow: hidden;
}

#carouselSection #carouselContainer {
  width: 100%;
  display: flex;
  position: relative;
  transition: transform 1s ease;
}

#carouselSection #carouselContainer .carouselFace {
  flex: 0 0 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

#carouselSection #carouselContainer .carouselFace .carouselFaceImageDiv {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 450px;
}
#carouselSection #carouselContainer .carouselFace .carouselFaceImageDiv img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transform: translateX(0);
}

#carouselSection #carouselContainer .carouselFace p {
  position: absolute;
  z-index: 1000;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

#carouselSection .carouselArrowDiv {
  width: 50px;
  height: 50px;
  top: 50%;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
  padding: 0;
  z-index: 2000;
}
#carouselSection .carouselArrowDiv#arrowDivLeft {
  left: 10px;
}
#carouselSection .carouselArrowDiv#arrowDivRight {
  right: 10px;
}

#carouselSection .carouselArrowDiv svg {
  fill: #fff0cf;
}
#carouselSection .carouselArrowDiv:hover svg {
  fill: #ed2224;
}
