body {
  background-color: #000000;
}

.bannerSection {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 80px;
  overflow: hidden;
}

.bannerSection h2 {
  font-size: 25px;
  color: #fff;
  margin: 80px 0 10px 0;
}

.bannerSection p {
  font-size: 13px;
  color: #fff;
  margin: 0 0 40px 0;
}
