#footerSection {
  padding-top: 25px;
  padding-bottom: 75px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 0 !important;
  background-color: #fff0cf;
}

#footerSection .footerSection_row {
  left: 0;
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
}

#footerSection #footerSection_logoDiv {
  top: -110px;
  height: 200px;
}

#footerSection #footerSection_logoDiv #footerSection_logo {
  height: 100%;
  border-radius: 75px;
}

#footerSection #footerContainer {
  display: flex;
  justify-content: space-between;
}

#footerSection ul li {
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
}

#footerSection .footerDiv {
  padding-top: 20px;
  height: 100%;
}
#footerSection .footerDiv_02 {
  padding-top: 80px;
}

#footerSection #footerSection_bottomDiv {
  bottom: 0;
  height: 50px;
}
#footerSection #footerSection_bottomDiv h5 {
  font-size: 13px;
  line-height: 14px;
}
