#footerSection {
  padding-top: 25px;
  padding-bottom: 75px;
  position: relative;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background-color: #fff0cf;
}

#footerSection .footerSection_row {
  left: 0;
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

#footerSection #footerSection_logoDiv,
#footerSection #footerSection_socialMediaDiv {
  display: flex;
  padding: 0 200px;
  justify-content: space-between;
}

#footerSection #footerSection_logoDiv {
  top: 30px;
  height: 100px;
}

#footerSection #footerContainer {
  z-index: 1000;
  padding-top: 120px;
  padding-bottom: 30px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

#footerSection ul li {
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
}
#footerSection ul li.unclickable {
  cursor: not-allowed;
}

#footerSection ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

#footerSection .footerDiv {
  height: 100%;
  min-width: 250px;
}

#footerSection #footerSection_socialMediaDiv {
  height: 30px;
  bottom: 60px;
}
#footerSection #footerSection_socialMediaDiv svg {
  height: 100%;
  cursor: pointer;
  fill: #0a173b;
}

#footerSection #footerSection_bottomDiv {
  bottom: 0;
  height: 50px;
}
#footerSection #footerSection_bottomDiv h5 {
  width: 100%;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
}
