#aboutSection {
  float: left;
}

#aboutSection #aboutSectionContainer {
  width: 100%;
  float: left;
  display: block;
}

#aboutSection #aboutSection_textDiv,
.videoSection .videoSection_textDiv {
  width: 50%;
  float: left;
  padding: 10px;
  padding-left: 0;
}
#aboutSection #aboutSection_textDiv h4,
.videoSection .videoSection_textDiv h4 {
  margin-bottom: 10px;
}
#aboutSection #aboutSection_textDiv p,
.videoSection .videoSection_textDiv p {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
  padding-left: 0;
}

#aboutSection.section #aboutSection_textDiv {
  width: 60%;
}

#aboutSection #aboutSection_mediaDiv {
  width: 40%;
  float: left;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
#aboutSection #aboutSection_mediaDiv img {
  height: 100%;
  max-height: 250px;
}
