@media only screen and (min-device-width: 100px) and (max-device-width: 849px) {
  html body #aboutSection.section {
    display: block;
  }
  html body #aboutSection.section #aboutSection_mediaDiv,
  html body #aboutSection.section #aboutSection_textDiv {
    float: left;
    width: 100%;
  }
  html body #aboutSection.section #aboutSection_textDiv p {
    padding-left: 0;
  }
}
