#aboutSection {
  float: left;
}

#aboutSection #aboutSectionContainer {
  display: block;
  float: left;
}

#aboutSection #aboutSection_videoDiv {
  width: 60%;
  height: 400px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#aboutSection #aboutSection_videoDiv iframe {
  width: 100%;
  height: 100%;
}

#aboutSection #aboutSection_textDiv {
  width: 40%;
  float: left;
  padding: 10px;
}
#aboutSection #aboutSection_textDiv h4 {
  font-size: 21px;
  margin-bottom: 10px;
}
#aboutSection #aboutSection_textDiv p {
  font-size: 17px;
  margin-bottom: 6px;
}
