<div id="carouselSection" class="section">
  <div id="carouselContainer">
    {% for cc in carouselArray %}
    <div class="carouselFace">
        {% if cc.caption_superscript %}
        <h4>{{cc.caption_superscript}}</h4>
        {% endif %}
        <h1>{{cc.caption_header}}</h1>
        <h3>{{cc.caption_subscript}}</h3>
      <div class="carouselFaceImageDiv">
        <img src="{{resourcesFolder}}/02_Carousel/{{cc.image}}" />
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="carouselArrowDiv" id="arrowDivLeft">{% include "./icons/carousel_icon_01_left.njk" %}</div>
  <div class="carouselArrowDiv" id="arrowDivRight">{% include "./icons/carousel_icon_02_right.njk" %}</div>
</div>

<script type="text/javascript" src="{{jsFolder}}/02_Carousel.js"></script>
