<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>02 - Carousel</title>
    <link rel="stylesheet" href="../00common/00common.css" />
    <link rel="stylesheet" href="carousel.css" />
  </head>
  <body>
    <div id="carouselSection" class="section">
      <div id="carouselContainer">
        <div class="carouselFace">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            vehicula sapien sed semper tempus.
          </p>
          <img src="./photos/01.jpg" />
        </div>
        <div class="carouselFace">
          <p>
            Vestibulum diam libero, tincidunt quis ante sed, gravida efficitur
            lectus.
          </p>
          <img src="./photos/02.jpg" />
        </div>
        <div class="carouselFace">
          <p>
            Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
            ligula vel erat tincidunt dapibus.
          </p>
          <img src="./photos/03.jpg" />
        </div>
        <div class="carouselFace">
          <p>
            Consectetur adipiscing elit Duis vehicula sapien sed semper tempus
            Vestibulum diam.
          </p>
          <img src="./photos/04.jpg" />
        </div>
      </div>
      <button id="left">Left</button>
      <button id="right">Right</button>
    </div>

    <script src="carousel.js"></script>
  </body>
</html>
