<div id="carouselSection" class="section">
  <div id="carouselContainer">
    <div class="carouselFace">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus.
      </p>
      <img src="{{resourcesFolder}}/02_Carousel/carousel_01.jpg" />
    </div>
    <div class="carouselFace">
      <p>
        Vestibulum diam libero, tincidunt quis ante sed, gravida efficitur
        lectus.
      </p>
      <img src="{{resourcesFolder}}/02_Carousel/carousel_02.jpg" />
    </div>
    <div class="carouselFace">
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus.
      </p>
      <img src="{{resourcesFolder}}/02_Carousel/carousel_03.jpg" />
    </div>
    <div class="carouselFace">
      <p>
        Consectetur adipiscing elit Duis vehicula sapien sed semper tempus
        Vestibulum diam.
      </p>
      <img src="{{resourcesFolder}}/02_Carousel/carousel_04.jpg" />
    </div>
  </div>
  <div class="carouselArrowDiv" id="arrowDivLeft">{% include "./icons/carousel_icon_01_left.njk" %}</div>
  <div class="carouselArrowDiv" id="arrowDivRight">{% include "./icons/carousel_icon_02_right.njk" %}</div>
</div>

<script type="text/javascript" src="{{jsFolder}}/02_Carousel.js"></script>
