<div class="section contentSection contentSectTypeB">
  <article>
    <h2>OUR <span>PROMOTIONS</span></h2>
    <h3>Try Paperless Retail software for FREE</h3>
    <p>
      As a way to introduce Paperless Retail to the market and showcase to you
      its abilities, we have an exciting promotion on offer.
    </p>
    <p>
      Download Paperless Retail software from this website, and contact us to
      acquire a FREE 1 month license.
    </p>
    <div class="ctaBtns desktopOnlyElement">
      <a href="{{pageLinks.index}}">
        <div class="ctaBtn">
          {% include "download.njk" %}
          <span>Start free trial</span>
        </div>
      </a>
    </div>
  </article>
  <div class="contentImg">
    <img src="{{resourcesFolder}}/images/03_content/promoSection.jpg" />
  </div>
</div>
