<div id="welcomeSection" class="section">
  <h2 class="sectionTitle">Welcome to The Hill Preparatory School</h2>
  <div id="welcomeSectionContainer">
    <p>At the Hill we believe in holistic child development that turns every student into an active global citizen.</p>
  </div>
</div>