<div id="welcomeSection" class="section">
  <h4>Welcome to</h4>
  <h1>The Hill Preparatory School</strong></h1>
  <h3>We believe in holistic child development that turns every student into an active global citizen.</h3>
</div>
