<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../01_CSS/00_Common/00_Common.css"/>
    <link rel="stylesheet" href="../01_CSS/00_Common/00_Common_sectionTemplate.css"/>
    <link rel="stylesheet" href="../01_CSS/00_Common/00_Common_media_queries.css"/>
    <link rel="shortcut icon" href="../04_Resources/00_Common/icon.png" />
    {% for fileName in cssFilesArray %}
    <link rel="stylesheet" href="{{cssFilePath}}/{{fileName}}.css" />
    {% endfor %}
    <title>{{sectionTitle}}</title>
  </head>
  <body>
    {% include sectionIncludedTemplateString %}
  </body>
</html>
