@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  body .contactUsSection .contactUsSectionInner {
    display: block;
    height: 700px;
  }
  body .contactUsSection #sidebar,
  body .contactUsSection form {
    width: 100%;
    position: absolute;
    left: 0;
  }
  body .contactUsSection #sidebar {
    top: 0;
    margin: 0;
  }
  body .contactUsSection form {
    top: 320px;
  }
  body .contactUsSection form input,
  body .contactUsSection form textarea {
    width: 100%;
  }
}
