<div id="navBarSection" class="section">
  <a href="{{pageLinks.index}}">
  <img class="navBar_logo" src="{{resourcesFolder}}/00_Common/logo_04.png" />
  </a>

  <ul class="navBar_links">
    <li class="navParentPage navParentPage_focused">
      <a class="navLink" href="{{pageLinks.index}}">The Hill</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Why choose The Hill</h3>
            <p>
              Hear from parents, teachers and our young students about why
              they chose The Hill. Vestibulum diam libero, tincidunt quis
              ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.about_}}">About us</a></li>
            <li><a href="{{pageLinks.index}}">Our vision &amp; mission</a></li>
            <li><a href="{{pageLinks.staff_}}">Our faculty</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Academics</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Academics</h3>
            <p>
              Learn about key admissions steps, as well as critical
              information on our fees, schedule of admissions, and your next
              steps to joining us.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Infant department</a></li>
            <li><a href="{{pageLinks.index}}">Junior department</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Sports</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Sports</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              vehicula sapien sed semper tempus. Vestibulum diam libero,
              tincidunt quis ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Our teams</a></li>
            <li><a href="{{pageLinks.index}}">Our results &amp; League tables</a></li>
            <li><a href="{{pageLinks.index}}">Sports houses &amp; mascots</a></li>
            <li><a href="{{pageLinks.index}}">Sports news</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Arts &amp; culture</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Arts &amp; culture</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              vehicula sapien sed semper tempus. Vestibulum diam libero,
              tincidunt quis ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Music &amp; theatre department</a></li>
            <li><a href="{{pageLinks.index}}">Arts &amp; craft department</a></li>
            <li><a href="{{pageLinks.index}}">ICT</a></li>
            <li><a href="{{pageLinks.index}}">Contact us</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Admissions</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Admissions</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              vehicula sapien sed semper tempus. Vestibulum diam libero,
              tincidunt quis ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Link #1</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Contact us</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Contact us</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              vehicula sapien sed semper tempus. Vestibulum diam libero,
              tincidunt quis ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Link #1</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <a href="{{pageLinks.index}}">
  <img class="navBar_logo" src="{{resourcesFolder}}/00_Common/logo_04.png" />
  </a>

  <div id="hamburger" class="mobileOnlyElement">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<script type="text/javascript" src="{{jsFolder}}/01_Navbar_Hamburger.js"></script>
