<div id="navBarSection" class="section">
  <img class="navBar_logo" src="{{resourcesFolder}}/00_Common/logo.png" />

  <ul id="navBar_links">
    <li class="navParentPage navParentPage_focused">
      <a class="navLink" href="{{pageLinks.index}}">Why The Hill</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Why choose The Hill</h3>
            <p>
              Hear from parents, teachers and our young students about why
              they chose The Hill. Vestibulum diam libero, tincidunt quis
              ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Parents Speak</a></li>
            <li><a href="{{pageLinks.index}}">Teachers Speak</a></li>
            <li><a href="{{pageLinks.index}}">Students Speak</a></li>
            <li><a href="{{pageLinks.index}}">More XYZ</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Admissions</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Admissions</h3>
            <p>
              Learn about key admissions steps, as well as critical
              information on our fees, schedule of admissions, and your next
              steps to joining us.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Admissions Calendar</a></li>
            <li><a href="{{pageLinks.index}}">Fee Info</a></li>
            <li><a href="{{pageLinks.index}}">How to Apply</a></li>
            <li><a href="{{pageLinks.index}}">Common Questions</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Social media</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Social media</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              vehicula sapien sed semper tempus. Vestibulum diam libero,
              tincidunt quis ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Facebook</a></li>
            <li><a href="{{pageLinks.index}}">Twitter / X</a></li>
            <li><a href="{{pageLinks.index}}">Linkedin</a></li>
            <li><a href="{{pageLinks.index}}">Whatsapp</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Our library</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Our library</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              vehicula sapien sed semper tempus. Vestibulum diam libero,
              tincidunt quis ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Onsite Boarding</a></li>
            <li><a href="{{pageLinks.index}}">Athletics</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">News</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>News</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              vehicula sapien sed semper tempus. Vestibulum diam libero,
              tincidunt quis ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Article No. 1</a></li>
            <li><a href="{{pageLinks.index}}">Article B</a></li>
            <li><a href="{{pageLinks.index}}">3rd article</a></li>
          </ul>
        </div>
      </div>
    </li>

    <li class="navParentPage">
      <a class="navLink" href="{{pageLinks.index}}">Contact us</a>
      <div class="navPageInfo">
        <div class="navPageInfoInner">
          <div class="navPageInfo_intro">
            <h3>Contact us</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              vehicula sapien sed semper tempus. Vestibulum diam libero,
              tincidunt quis ante sed, gravida efficitur lectus.
            </p>
          </div>
          <ul class="navPageInfo_list">
            <li><a href="{{pageLinks.index}}">Link #1</a></li>
            <li><a href="{{pageLinks.index}}">Second link</a></li>
            <li><a href="{{pageLinks.index}}">3rd</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <img class="navBar_logo" src="{{resourcesFolder}}/00_Common/logo.png" />

  <div id="hamburger" class="mobileOnlyElement">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<script type="text/javascript" src="{{jsFolder}}/01_Navbar_Hamburger.js"></script>
