<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>01 - Navbar</title>
    <link rel="stylesheet" href="../00common/00common.css" />
    <link rel="stylesheet" href="navbar.css" />
  </head>
  <body>
    <div id="navBarSection" class="section">
      <img class="navBar_logo" src="../00common/logo03.png" />
      <ul id="navBar_links">
        <li class="navParentPage navParentPage_focused">
          <a class="navLink" href="">Why The Hill</a>
          <div class="navPageInfo">
            <div class="navPageInfoInner">
              <div class="navPageInfo_intro">
                <h3>Why choose The Hill</h3>
                <p>
                  Hear from parents, teachers and our young students about why
                  they chose The Hill. Vestibulum diam libero, tincidunt quis
                  ante sed, gravida efficitur lectus.
                </p>
              </div>
              <ul class="navPageInfo_list">
                <li><a href="">Parents Speak</a></li>
                <li><a href="">Teachers Speak</a></li>
                <li><a href="">Students Speak</a></li>
                <li><a href="">More XYZ</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="navParentPage">
          <a class="navLink" href="">Admissions</a>
          <div class="navPageInfo">
            <div class="navPageInfoInner">
              <div class="navPageInfo_intro">
                <h3>Admissions</h3>
                <p>
                  Learn about key admissions steps, as well as critical
                  information on our fees, schedule of admissions, and your next
                  steps to joining us.
                </p>
              </div>
              <ul class="navPageInfo_list">
                <li><a href="">Admissions Calendar</a></li>
                <li><a href="">Fee Info</a></li>
                <li><a href="">How to Apply</a></li>
                <li><a href="">Common Questions</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="navParentPage">
          <a class="navLink" href="">Social media</a>
          <div class="navPageInfo">
            <div class="navPageInfoInner">
              <div class="navPageInfo_intro">
                <h3>Social media</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                  vehicula sapien sed semper tempus. Vestibulum diam libero,
                  tincidunt quis ante sed, gravida efficitur lectus.
                </p>
              </div>
              <ul class="navPageInfo_list">
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter / X</a></li>
                <li><a href="">Linkedin</a></li>
                <li><a href="">Whatsapp</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="navParentPage">
          <a class="navLink" href="">Our library</a>
          <div class="navPageInfo">
            <div class="navPageInfoInner">
              <div class="navPageInfo_intro">
                <h3>Our library</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                  vehicula sapien sed semper tempus. Vestibulum diam libero,
                  tincidunt quis ante sed, gravida efficitur lectus.
                </p>
              </div>
              <ul class="navPageInfo_list">
                <li><a href="">Onsite Boarding</a></li>
                <li><a href="">Athletics</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="navParentPage">
          <a class="navLink" href="">News</a>
          <div class="navPageInfo">
            <div class="navPageInfoInner">
              <div class="navPageInfo_intro">
                <h3>News</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                  vehicula sapien sed semper tempus. Vestibulum diam libero,
                  tincidunt quis ante sed, gravida efficitur lectus.
                </p>
              </div>
              <ul class="navPageInfo_list">
                <li><a href="">Article No. 1</a></li>
                <li><a href="">Article B</a></li>
                <li><a href="">3rd article</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="navParentPage">
          <a class="navLink" href="">Contact us</a>
          <div class="navPageInfo">
            <div class="navPageInfoInner">
              <div class="navPageInfo_intro">
                <h3>Contact us</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                  vehicula sapien sed semper tempus. Vestibulum diam libero,
                  tincidunt quis ante sed, gravida efficitur lectus.
                </p>
              </div>
              <ul class="navPageInfo_list">
                <li><a href="">Link #1</a></li>
                <li><a href="">Second link</a></li>
                <li><a href="">3rd</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <img class="navBar_logo" src="../00common/logo03.png" />
    </div>
  </body>
</html>
