<div id="footerSection" class="section">
  <div class="footerSection_row" id="footerSection_logoDiv">
    <img id="footerSection_logo" src="{{resourcesFolder}}/08_Footer/footer_logo_02.png" />
  </div> 
  <div id="footerContainer">
    <div class="footerDiv footerDiv_01">
      <ul>
        <li><a href="{{pageLinks.index}}">Clubs and Societies</a></li>
        <li><a href="{{pageLinks.index}}">Arts and Culture</a></li>
        <li><a href="{{pageLinks.index}}">Music and Theatre Dept</a></li>
        <li><a href="{{pageLinks.index}}">Computer programming gallery</a></li>
        <li><a href="{{pageLinks.index}}">Grade 20-23</a></li>
      </ul>
    </div>
    <div class="footerDiv footerDiv_02">
      <ul>
        <li><a href="{{pageLinks.index}}">Curriculum</a></li>
        <li><a href="{{pageLinks.index}}">Music Club</a></li>
        <li><a href="{{pageLinks.index}}">Drama Club</a></li>
        <li><a href="{{pageLinks.index}}">Basketball</a></li>
      </ul>
    </div>
    <div class="footerDiv footerDiv_03">
      <ul>
        <li><a href="{{pageLinks.index}}">Facebook link</a></li>
        <li><a href="{{pageLinks.index}}">Instagram link</a></li>
        <li><a href="{{pageLinks.index}}">LinkedIn link</a></li>
        <li><a href="{{pageLinks.index}}">Youtube link</a></li>
      </ul>
    </div>
  </div>
  <div class="footerSection_row" id="footerSection_bottomDiv">
    <h5>Copyright &#169; 2024 The Hill Preparatory School</h5>
  </div>
</div>
