<div id="footerSection" class="section">
  <div class="footerSection_row" id="footerSection_logoDiv">
    <img id="footerSection_logo" src="{{resourcesFolder}}/08_Footer/footer_logo_02.png" />
  </div> 
  <div id="footerContainer">
    <div class="footerDiv footerDiv_01">
      <ul>
        <li>Academics</li>
        <li>Personalised pathways</li>
        <li>Grade 1-10</li>
        <li>Grade 11-18</li>
        <li>Grade 20-23</li>
        <li>Grade 20-23</li>
        <li>Grade 20-23</li>
        <li>Grade 20-23</li>
      </ul>
    </div>
    <div class="footerDiv footerDiv_02">
      <ul>
        <li>Academics</li>
        <li>Personalised pathways</li>
        <li>Grade 1-10</li>
        <li>Grade 11-18</li>
        <li>Grade 20-23</li>
      </ul>
    </div>
    <div class="footerDiv footerDiv_03">
      <ul>
        <li>Academics</li>
        <li>Personalised pathways</li>
        <li>Grade 1-10</li>
        <li>Grade 11-18</li>
        <li>Grade 20-23</li>
      </ul>
    </div>
  </div>
  <div class="footerSection_row" id="footerSection_bottomDiv">
    <h4>Copyright &#169; 2024 The Hill Preparatory School</h4>
  </div>
</div>
