<div id="footerSection" class="section">
  <div class="footerSection_row" id="footerSection_logoDiv">
    <img src="{{resourcesFolder}}/08_Footer/footer_logo_04.png" />
    <img src="{{resourcesFolder}}/08_Footer/footer_logo_03.png" />
    <img src="{{resourcesFolder}}/08_Footer/footer_logo_05.png" />
  </div>

  <div id="footerContainer">
    <div class="footerDiv footerDiv_01">
      <ul>
        <li><a href="{{pageLinks.index}}">About us</a></li>
        <li><a href="{{pageLinks.index}}">Our faculty</a></li>
        <li><a href="{{pageLinks.index}}">Infant department</a></li>
        <li><a href="{{pageLinks.index}}">Junior department</a></li>
      </ul>
    </div>
    <div class="footerDiv footerDiv_02">
     <ul>
        <li><a href="{{pageLinks.index}}">Our teams</a></li>
        <li><a href="{{pageLinks.index}}">Our results &amp; League tables</a></li>
        <li><a href="{{pageLinks.index}}">Sports houses &amp; mascots</a></li>
        <li><a href="{{pageLinks.index}}">Music &amp; theatre department</a></li>
        <li><a href="{{pageLinks.index}}">Arts &amp; craft department</a></li>
        <li><a href="{{pageLinks.index}}">Contact us</a></li>
      </ul>
    </div>
    <div class="footerDiv footerDiv_03">
      <ul>
        <li class="unclickable">Gallery</li>
        <li class="unclickable">Our faculty</a></li>
        <li class="unclickable">Infant department</a></li>
        <li class="unclickable">News</li>
      </ul>
    </div>
  </div>

  <div class="footerSection_row" id="footerSection_socialMediaDiv">
    <a href="{{pageLinks.social_media_facebook}}" target="_blank">
      {% include "facebook.njk" %}
    </a>
    <a href="{{pageLinks.social_media_instagram}}" target="_blank">
      {% include "instagram.njk" %}
    </a>
    <a href="{{pageLinks.social_media_linkedin}}" target="_blank">
      {% include "linkedin.njk" %}
    </a>
    <a href="{{pageLinks.social_media_youtube}}" target="_blank">
      {% include "youtube.njk" %}
    </a>
  </div>
  <div class="footerSection_row" id="footerSection_bottomDiv">
    <h5>Copyright &#169; 2024 The Hill Preparatory School</h5>
  </div>
</div>
