body {
  background-color: #000000;
}

.contactUsSection {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: #fff;
}
.contactUsSection .contactUsSectionInner {
  display: flex;
  position: relative;
}

.contactUsSection form {
  float: left;
  flex-grow: 1;
}

.contactUsSection form #map {
  float: left;
  border-radius: 15px;
  margin-bottom: 65px;
  width: 100%;
  height: 300px;
}
.contactUsSection form #map iframe {
  width: 100%;
  height: 100%;
}

.contactUsSection form input,
.contactUsSection form textarea {
  height: 40px;
  width: 400px;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: 0;
  padding: 0 10px;
  font-size: 15px;
  color: #707070;
}
.contactUsSection form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: none;
}

.contactUsSection #sidebar {
  padding: 10px;
  width: 320px;
  height: 300px;
  background-color: rgba(0, 113, 188, 0.05);
  border-radius: 15px;
  float: left;
  margin-left: 25px;
}
.contactUsSection #sidebar h4,
.contactUsSection #sidebar p {
  margin: 0;
  display: block;
  line-height: 22px;
  font-size: 14px;
  width: 100%;
  float: left;
}
.contactUsSection #sidebar h4 {
  margin-bottom: 12px;
}
.contactUsSection #sidebar #businessHoursH4 {
  margin-top: 20px;
}
.contactUsSection #sidebar .businessHours {
  height: 15px;
  line-height: 13px;
  font-size: 13px;
}
.contactUsSection #sidebar svg {
  padding: 3px;
  margin-right: 5px;
  float: left;
  height: 100%;
  max-height: 22px;
}

.contactUsSection #sidebar svg,
.contactUsSection #sidebar polygon {
  fill: #0071bc;
}

.ctaBtns #contactUsStatusBtn {
  display: none;
}
