.contentSection {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contentSection .contentSectInnerDiv {
  float: left;
}

.contentSection .contentSectInnerDiv article,
.contentSection .contentSectInnerDiv .contentMedia {
  float: right;
}
.contentSection.contentSectTypeB .contentSectInnerDiv article,
.contentSection.contentSectTypeB .contentSectInnerDiv .contentMedia {
  float: left;
}

.contentSection article {
  width: 45%;
}
.contentSection.content_A article {
  width: 70%;
}

.contentSection article p {
  margin: 10px 0;
}

.contentSection .contentMedia {
  width: 55%;
  min-height: 300px;
  padding-right: 30px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.contentSection.content_A .contentMedia {
  width: 30%;
}
.contentSection.contentSectTypeB .contentMedia {
  padding-right: 0;
  padding-left: 30px;
}
.contentSection.content_D .contentMedia {
  aspect-ratio: 16 / 9; /* Adjust this value based on your video's aspect ratio */
}

.contentSection .contentMedia img,
.contentSection .contentMedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
