.contentSection {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contentSection.content_A {
  margin: 0;
}

.contentSection .contentImg,
.contentSection article {
  float: right;
}

.contentSectTypeB .contentImg,
.contentSectTypeB article {
  float: left;
}

.contentSection article h2,
.contentSection article h3 {
  margin: 0;
}

.contentSection article p {
  margin: 10px 0;
}

.contentSection article {
  width: 45%;
}
.contentSection.content_A article {
  width: 70%;
}

.contentSectTypeB .contentImg {
  padding-right: 0;
  padding-left: 30px;
}

.contentSection .contentImg {
  width: 55%;
  padding-right: 30px;
}
.contentSection.content_A .contentImg {
  width: 30%;
}

.contentSection .contentImg img {
  width: 100%;
  border-radius: 15px;
}
