@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  body .contentSection .contentMedia,
  body .contentSection article {
    width: 100%;
  }

  body .contentSection article {
    margin-bottom: 20px;
  }

  body .contentSection .contentMedia {
    padding-left: 0;
    padding-right: 0;
  }
}
