<div id="subjectsSection" class="section">
  <h2 class="sectionTitle">Subjects</h2>
  <div id="subjectsSectionContainer">
    <div class="subjectDiv subjectDiv_01">
      <div class="subjectDiv_svgContainer">
        {% include "subject_01.njk" %}
      </div>
      <div class="subjectDiv_textContainer">
        <h4>English</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_02">
      <div class="subjectDiv_svgContainer">
        {% include "subject_02.njk" %}
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Mathematics</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_03">
      <div class="subjectDiv_svgContainer">
        {% include "subject_03.njk" %}
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Science</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_04">
      <div class="subjectDiv_svgContainer">
        {% include "subject_04.njk" %}
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Computing</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_05">
      <div class="subjectDiv_svgContainer">
        {% include "subject_05.njk" %}
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Wellbeing</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_06">
      <div class="subjectDiv_svgContainer">
        {% include "subject_06.njk" %}
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Global <br/>skills project</h4>
      </div>
    </div>
  </div>
</div>
