<div id="subjectsSection" class="section">
  <h2 class="sectionTitle">Click any of the subjects below to download more information</h2>
  <div id="subjectsSectionContainer">
    <div class="subjectDiv subjectDiv_01">
      <div class="subjectDiv_pngContainer">
        <img src="{{resourcesFolder}}/12_Subjects/english.png" />
      </div>
      <div class="subjectDiv_textContainer">
        <h4>English</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_02">
      <div class="subjectDiv_pngContainer">
        <img src="{{resourcesFolder}}/12_Subjects/mathematics.png" />
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Mathematics</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_03">
      <div class="subjectDiv_pngContainer">
        <img src="{{resourcesFolder}}/12_Subjects/science.png" />
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Science</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_04">
      <div class="subjectDiv_pngContainer">
        <img src="{{resourcesFolder}}/12_Subjects/computing.png" />
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Computing</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_05">
      <div class="subjectDiv_pngContainer">
        <img src="{{resourcesFolder}}/12_Subjects/wellbeing.png" />
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Wellbeing</h4>
      </div>
    </div>

    <div class="subjectDiv subjectDiv_06">
      <div class="subjectDiv_pngContainer">
        <img src="{{resourcesFolder}}/12_Subjects/global_skills_project.png" />
      </div>
      <div class="subjectDiv_textContainer">
        <h4>Global skills project</h4>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{jsFolder}}/12_Subjects.js"></script>
