<div id="staffSection" class="section">
  <h2 class="sectionTitle">We look forward to welcoming you.</h2>
  <div class="staffDivContainer">
    <div class="staffDiv">
      <p>"At The Hill, we believe in nurturing the whole child. Through the Oxford International Curriculum, our students develop academic excellence alongside essential skills for success - from computational thinking to sustainable practices and global citizenship.</p>
      <p>We are committed to creating a supportive environment that fosters intellectual growth, social-emotional well-being, and a lifelong love of learning. We look forward to partnering with you in your child's developmental journey."</p>
      <hr />
      <div class="staffDiv_lastRow">
        <div class="staffDiv_lastRow_imgCol">
          <img src="{{resourcesFolder}}/06_Staff/01_hans.jpg" />
        </div>
        <div class="staffDiv_lastRow_textCol">
          <div class="staffDiv_lastRow_textCol_inner">
            <h5>Hans Christen</h5>
            <p>Headmaster</p>
            <p>Lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit</p>
          </div>
        </div>
      </div>
    </div>
    <div class="staffDiv">
      <p>"Our infant department provides a warm, nurturing environment where young minds can blossom. </p>
      <p>We are dedicated to inspiring our students' natural curiosity, cultivating their skills, and instilling a lifelong love of learning.</p>
      <p>Here, your child will embark on an educational journey filled with discovery, creativity, and the building blocks for future success."</p>
      <hr />
      <div class="staffDiv_lastRow">
        <div class="staffDiv_lastRow_imgCol">
          <img src="{{resourcesFolder}}/06_Staff/02_pamhidzai.jpg" />
        </div>
        <div class="staffDiv_lastRow_textCol">
          <div class="staffDiv_lastRow_textCol_inner">
            <h5>Pamhidzai Chikumba</h5>
            <p>Head of Infants</p>
            <p>Lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit</p>
          </div>
        </div>
      </div>
    </div>
    <div class="staffDiv">
      <p>"At The Hill, we believe that sports are not just about winning or losing - they're about building character, fostering teamwork, and instilling a lifelong love of physical activity for one’s overall well-being.</p>
      <p></p>
      <p>As the Director of Sport, my goal is to create an inclusive environment where every student can discover their athletic potential while having fun in the process."</p>
      <hr />
      <div class="staffDiv_lastRow">
        <div class="staffDiv_lastRow_imgCol">
          <img src="{{resourcesFolder}}/06_Staff/03_graeme.jpg" />
        </div>
        <div class="staffDiv_lastRow_textCol">
          <div class="staffDiv_lastRow_textCol_inner">
            <h5>Graeme Lewis</h5>
            <p>Director of Sport</p>
            <p>Lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
