<div id="staffSection" class="section">
  <h2 class="sectionTitle">We look forward to welcoming you.</h2>
  <div id="staffDivContainer">
    <div class="staffDiv">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
      <hr />
      <div class="staffDiv_lastRow">
        <div class="staffDiv_lastRow_imgCol">
          <img src="{{resourcesFolder}}/06_Staff/staff_03.jpg" />
        </div>
        <div class="staffDiv_lastRow_textCol">
          <div class="staffDiv_lastRow_textCol_inner">
            <h5>Hans Christen</h5>
            <p>Headmaster</p>
          </div>
        </div>
      </div>
    </div>
    <div class="staffDiv">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
      <hr />
      <div class="staffDiv_lastRow">
        <div class="staffDiv_lastRow_imgCol">
          <img src="{{resourcesFolder}}/06_Staff/staff_02.jpg" />
        </div>
        <div class="staffDiv_lastRow_textCol">
          <div class="staffDiv_lastRow_textCol_inner">
            <h5>Teacher Xyz</h5>
            <p>Sports teacher</p>
          </div>
        </div>
      </div>
    </div>
    <div class="staffDiv">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
      <hr />
      <div class="staffDiv_lastRow">
        <div class="staffDiv_lastRow_imgCol">
          <img src="{{resourcesFolder}}/06_Staff/staff_01.jpg" />
        </div>
        <div class="staffDiv_lastRow_textCol">
          <div class="staffDiv_lastRow_textCol_inner">
            <h5>Mrs Abc</h5>
            <p>Senior teacher</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
