@media only screen and (min-device-width: 100px) and (max-device-width: 749px) {
  #updatesSection #updatesContainer {
    display: block;
  }
  #updatesSection #updatesContainer .updatesContainer_Col {
    float: left;
    width: 100%;
  }
}
