/* blue: #0a173b; */
/* beige(pink): #fff0cf */
/* beige(red): #ed2224 */
/* brown/black: #050706 */

@font-face {
  font-family: "MSE_OpenSans_Regular";
  src: url("./OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MSE_Athelas_Bold";
  src: url("./Athelas-Bold.ttf") format("truetype");
}

* {
  color: #0a173b;
  box-sizing: border-box;
}

body {
  padding-top: 85px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: #0a173b;
  font-family: "MSE_Athelas_Bold";
}

h3 {
  font-size: 22px;
  line-height: 23px;
}
h4 {
  font-size: 20px;
  line-height: 21px;
}
h5 {
  font-size: 18px;
  line-height: 17px;
}
p {
  font-size: 16px;
  line-height: 17px;
}
a {
  cursor: pointer;
}

p,
a,
li {
  margin: 0;
  color: #0a173b;
  font-family: "MSE_OpenSans_Regular";
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

body {
  background-color: #fff;
  margin: 0;
}

.section {
  width: 100%;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  float: left;
  margin: 25px 0;
  margin-bottom: 0;
}

.section .sectionTitle {
  font-size: 26px;
  line-height: 27px;
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: "MSE_Athelas_Bold";
}

.backgroundImg {
  position: absolute;
  z-index: -10;
  width: 100%;
  left: 0;
  top: 0;
}

.ctaBtns {
  float: left;
  margin: 0;
}

.ctaBtns .ctaBtn {
  height: 34px;
  margin: 13px 0;
  padding: 0;
  float: left;
  border-radius: 10px;
  cursor: pointer;
  background-color: #39b54a;
  color: #fff;
  border: none;
}

.ctaBtns .ctaBtn:first-of-type {
  margin-right: 10px;
}

.ctaBtns .ctaBtn svg {
  padding: 8px;
  float: left;
  height: 100%;
}

.ctaBtns .ctaBtn span {
  margin: 0 15px 0 5px;
  display: inline-block;
  line-height: 34px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

body .ctaBtns .ctaBtn2 {
  border: 1px solid #39b54a;
  background-color: #fff;
}

body .ctaBtns .ctaBtn2 span {
  color: #39b54a;
}

body .ctaBtn svg {
  fill: #ffffff;
}
body .ctaBtn.ctaBtn2 svg {
  fill: #39b54a;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

.mseLink {
  color: #0071bc;
  font-weight: 500;
  text-decoration: underline;
}
