* {
  box-sizing: border-box;
  font-family: "Segoe UI";
  color: #707070;
}
.section {
  width: 100%;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  float: left;
}
body {
  background-color: #fff;
  margin: 0;
}
.backgroundImg {
  position: absolute;
  z-index: -10;
  width: 100%;
  left: 0;
  top: 0;
}
.ctaBtns {
  float: left;
  margin: 0;
}
.ctaBtns .ctaBtn {
  height: 34px;
  margin: 13px 0;
  padding: 0;
  float: left;
  border-radius: 10px;
  cursor: pointer;
  background-color: #39b54a;
  color: #fff;
  border: none;
}
.ctaBtns .ctaBtn:first-of-type {
  margin-right: 10px;
}
.ctaBtns .ctaBtn svg {
  padding: 8px;
  float: left;
  height: 100%;
}
.ctaBtns .ctaBtn span {
  margin: 0 15px 0 5px;
  display: inline-block;
  line-height: 34px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}
body .ctaBtns .ctaBtn2 {
  border: 1px solid #39b54a;
  background-color: #fff;
}
body .ctaBtns .ctaBtn2 span {
  color: #39b54a;
}
a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}
.mseLink {
  color: #0071bc;
  font-weight: 500;
  text-decoration: underline;
}
@media only screen and (min-device-width: 100px) and (max-device-width: 319px) {
  body .section {
    padding-left: 25px;
    padding-right: 25px;
  }
  body .desktopOnlyElement {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 999px) {
  body .section {
    padding-left: 35px;
    padding-right: 35px;
  }
  body .desktopOnlyElement {
    display: none;
  }
}
@media only screen and (min-device-width: 700px) and (max-device-width: 799px) {
  body .section {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-device-width: 800px) and (max-device-width: 999px) {
  body .section {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media only screen and (min-device-width: 1000px) {
  body .mobileOnlyElement {
    display: none;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 599px) {
  body .backgroundAfter600px {
    display: none;
  }
}
@media only screen and (min-device-width: 600px) {
  body .backgroundBefore600px {
    display: none;
  }
}
#hamburger {
  width: 35px;
  height: 26px;
  float: right;
  position: relative;
  margin: 17px 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #39b54a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#hamburger span:nth-child(1) {
  top: 0;
}
#hamburger span:nth-child(2) {
  top: 40%;
}
#hamburger span:nth-child(3) {
  top: 80%;
}
#hamburger.open span:nth-child(1) {
  top: 40%;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#hamburger.open span:nth-child(3) {
  top: 40%;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#header {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#header #logo {
  float: left;
  height: 100%;
  max-height: 60px;
}
#header #navbar {
  width: 270px;
  height: 100%;
  float: right;
  margin: 0 30px 0 0;
  padding: 0;
  list-style: none;
}
#header #navbar li {
  width: 33.3%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  float: left;
  font-weight: 700;
  margin: 0;
  position: relative;
  overflow: hidden;
}
#header #navbar .currentPage {
  color: #39b54a;
}
#header #navbar .currentPage span {
  background-color: #39b54a;
  border-radius: 10px;
  width: 6px;
  height: 6px;
  display: block;
  text-align: center;
  position: absolute;
  left: 42px;
  bottom: 15px;
}
#header .ctaBtns {
  height: 100%;
  float: right;
  margin: 0;
}
#header .ctaBtns .ctaBtn {
  margin-right: 0;
}
#header #menuIcon {
  float: right;
  height: 100%;
  padding: 15px 0;
}
@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  body #header #navbar {
    position: relative;
    display: none;
    width: 160px;
    float: left;
    margin: 0;
  }
  body #header #navbar li {
    width: 100%;
    text-align: left;
    height: 40px;
    line-height: 40px;
  }
  body #header #navbar .currentPage span {
    left: -15px;
    bottom: 12px;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 249px) {
  body #header #navbar {
    width: 90px;
  }
}
@media only screen and (min-device-width: 250px) and (max-device-width: 299px) {
  body #header #navbar {
    width: 130px;
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 699px) {
  body #header #navbar {
    width: 180px;
  }
}
@media only screen and (min-device-width: 700px) and (max-device-width: 999px) {
  body #header #navbar {
    width: 240px;
  }
}
#footer {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer .row,
#footer hr {
  display: block;
  float: left;
  width: 100%;
}
#footer .column {
  height: 100%;
  width: 25%;
  float: left;
  padding: 5px 15px;
}
#footer #articlesColumn {
  padding: 5px 15px 5px 0;
}
#footer #newsletterColumn {
  padding: 5px 0 5px 30px;
}
#footer #newsletterColumn h5 {
  text-align: right;
}
#footer #downloadsColumn h5,
#footer #downloadsColumn ul li,
#footer #socialMediaColumn h5,
#footer #socialMediaColumn ul li {
  text-align: center;
}
#footer .column h5 {
  color: #4b4747;
  margin: 0 0 16px 0;
  font-size: 16px;
}
#footer .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .column ul li {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}
#footer .column #icons {
  width: 165px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#footer .column #icons a {
  display: contents;
}
#footer .column #icons span {
  background-color: #4b4747;
  border-radius: 25px;
  height: 100%;
  cursor: pointer;
}
#footer .column #icons span svg {
  padding: 9px;
  height: 100%;
}
#footer .column #newsletterDiv {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
}
#footer .column #newsletterDiv input {
  width: 80%;
  outline: 0;
  border: none;
  height: 100%;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  float: left;
  color: #000;
}
#footer .column #newsletterDiv span {
  width: 20%;
  height: 24px;
  width: 24px;
  background-color: #4b4747;
  float: right;
  border-radius: 5px;
  margin: 3px 10px 3px 0;
}
#footer .column #newsletterDiv span svg {
  height: 100%;
  padding: 5px;
}
#footer #logos {
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: relative;
}
#footer #logos svg {
  height: 70px;
  padding: 20px 0;
}
#footer #logos #centsLogo {
  padding: 0;
}
#footer hr {
  margin: 50px 0 25px 0;
  border: none;
  height: 0.2px;
  color: #fff;
  background-color: #fff;
}
#footer .row #copyright,
#footer .row #credits {
  margin: 0;
  float: left;
  width: 50%;
}
#footer .row #copyright p,
#footer .row #credits p {
  float: left;
  margin: 0;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  color: #fff;
}
#footer .row #copyright p span {
  font-weight: 500;
}
#footer .row #credits {
  float: right;
}
#footer .row #credits p,
#footer .row #credits span {
  float: right;
}
#footer .row #credits span {
  margin: 0 20px 0 7px;
}
#footer .row #credits #designedBy {
  margin-right: 0;
}
#footer .row #credits span {
  height: 15px;
}
#footer .row #credits span svg {
  height: 15px;
}
@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  body #footer #newsletterColumn,
  body #footer .column {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 20px;
  }
  body #footer #socialMediaColumn h5,
  body #footer #socialMediaColumn ul li {
    text-align: left;
  }
  body #footer .column #icons {
    margin: 0;
  }
  body #footer hr {
    margin: 10px 0 25px 0;
  }
  body #footer #logos {
    display: block;
    height: unset;
  }
  body #footer #logos #byoSoftware {
    height: 50px;
    padding: 10px 0;
    display: block;
  }
  body #footer .row #copyright {
    width: 100%;
  }
}
#heroSection {
  width: 100%;
  margin-top: 80px;
  overflow: hidden;
  position: relative;
  padding: 10px 0 50px 0;
}
#heroSection #heroContent {
  padding-top: 10px;
  padding-bottom: 10px;
}
#heroSection #heroContent .boldText_1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #39b54a;
  font-size: 50px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 0;
}
#heroSection #heroContent #heroText {
  border-top: 1px solid #39b54a;
  width: 400px;
}
#heroSection #heroContent #heroText h2,
#heroSection #heroContent #heroText li span,
#heroSection #heroContent p {
  color: #fff;
}
#heroSection #heroContent #heroText h2 {
  margin: 0;
  margin-top: 10px;
  font-size: 32px;
}
#heroSection #heroContent #heroText p {
  font-size: 15px;
  font-weight: 200;
}
#heroSection #heroContent #heroText .boldText_2 {
  margin: 0;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 500;
}
#heroSection #heroContent #heroText .boldText_3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
}
#heroSection #heroContent #heroText #features {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  float: left;
  margin-bottom: 15px;
}
#heroSection #heroContent #heroText #features li {
  width: 50%;
  float: left;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  font-weight: lighter;
  margin: 2px 0;
}
#heroSection #heroContent #heroText #features li span {
  height: 100%;
  float: left;
}
#heroSection #heroContent #heroText #features li .svgSpan,
#heroSection .svgSpan {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-color: #0071bc;
  border-radius: 25px;
}
#heroSection #heroContent #heroText #features li .svgSpan svg,
#heroSection .svgSpan svg {
  height: 100%;
  padding: 5px;
}
#heroSection #heroContent #heroText .ctaBtns .ctaBtn2 {
  border: none;
}
#heroSection .ctaBtns {
  height: 100%;
  width: 100%;
}
#heroSection #heroMenu {
  height: 50px;
  width: 100%;
  position: absolute;
  background-color: #0071bc;
  left: 0;
  bottom: 0;
}
#heroSection #heroMenu ul {
  margin: 0;
  margin-right: 90px;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  height: 100%;
  background-color: #fff;
}
#heroSection #heroMenu ul li {
  display: inline-block;
  height: 100%;
  width: 100px;
  line-height: 50px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0071bc;
  float: left;
  font-size: 14px;
}
#heroSection #heroMenu ul .currentFeature {
  border-bottom: 5px solid #fff;
  background-color: rgba(0, 113, 188, 0.75);
}
#heroSection #mobileDownloads {
  min-width: 225px;
  max-width: 350px;
  margin: 0 auto;
  padding: 5px 15px;
}
#heroSection #mobileDownloads div {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  float: left;
  display: flex;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}
#heroSection #mobileDownloads div .svgSpan,
#heroSection #mobileDownloads div p {
  height: 100%;
  float: left;
  height: 20px;
}
#heroSection #mobileDownloads div .svgSpan {
  position: absolute;
  margin-right: 0;
  text-align: center;
  height: 20px;
  width: 20px;
}
#heroSection #mobileDownloads div .svgSpan svg {
  height: 100%;
}
#heroSection #mobileDownloads div p {
  float: left;
  margin: 0;
  flex-grow: 1;
  line-height: 20px;
  color: rgba(0, 113, 188, 0.75);
  text-align: center;
}
#heroSection #mobileDownloads div p span {
  font-size: 12px;
  color: #0071bc;
  text-align: center;
  height: 100%;
  line-height: 20px;
}
#heroSection #screenshot {
  width: 600px;
  position: absolute;
  right: 100px;
  top: 110px;
  border-radius: 10px;
}
#heroSection #screenshot img {
  width: 100%;
  border-radius: 10px;
}
@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  body #heroSection #heroContent #heroText {
    border: none;
  }
  body #heroSection .backgroundImg {
    width: unset;
    height: 100%;
  }
  body #heroSection #heroContent {
    margin-bottom: 200px;
  }
  body #heroSection #heroContent #heroText {
    margin-left: 0;
    width: unset;
  }
  body #heroSection #heroContent #heroText #features {
    float: unset;
  }
  body #heroSection #heroContent #heroText #features li {
    width: 100%;
    float: unset;
  }
  body #heroSection #heroContent .boldText_1 {
    margin-top: 0;
  }
  body #heroSection #heroMenu ul {
    margin-right: 0;
    width: 100%;
  }
  body #heroSection #heroMenu ul li {
    width: 50%;
  }
  body #heroSection #screenshot {
    width: 100%;
    top: unset;
    left: 0;
    bottom: 110px;
    border-radius: 10px;
  }
  html body #heroSection #screenshot img {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 399px) {
  body .miniMobile {
    display: block;
  }
  body .largerMobile {
    display: none;
  }
}
@media only screen and (min-device-width: 400px) and (max-device-width: 999px) {
  body .miniMobile {
    display: none;
  }
  body .largerMobile {
    display: block;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 299px) {
  body #heroSection #heroContent {
    margin-bottom: 0;
  }
  html body #heroSection #screenshot {
    display: none;
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 399px) {
  body #heroSection #heroContent {
    margin-bottom: 170px;
  }
  html body #heroSection #screenshot {
    bottom: 100px;
  }
  html body #heroSection #screenshot img {
    width: 260px;
  }
}
@media only screen and (min-device-width: 400px) and (max-device-width: 499px) {
  body #heroSection #heroContent {
    margin-bottom: 230px;
  }
  html body #heroSection #screenshot img {
    width: 350px;
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 599px) {
  body #heroSection #heroContent {
    margin-bottom: 260px;
  }
  html body #heroSection #screenshot img {
    width: 400px;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 999px) {
  body #heroSection #heroContent {
    margin-bottom: 320px;
  }
  html body #heroSection #screenshot img {
    width: 500px;
  }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1099px) {
  body #heroSection #screenshot {
    width: 390px;
  }
}
@media only screen and (min-device-width: 1100px) and (max-device-width: 1199px) {
  body #heroSection #screenshot {
    width: 450px;
  }
}
@media only screen and (min-device-width: 1200px) and (max-device-width: 1299px) {
  body #heroSection #screenshot {
    width: 500px;
  }
}
@media only screen and (min-device-width: 1300px) and (max-device-width: 1699px) {
  body #heroSection #screenshot {
    width: 600px;
  }
}
@media only screen and (min-device-width: 1700px) {
  body #heroSection #screenshot {
    width: 700px;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  html body #heroSection #screenshot {
    bottom: 140px;
  }
  html body #heroSection {
    padding: 10px 0 75px 0;
  }
}
#documentation {
  background-color: #fff;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
#documentation .docType {
  list-style: none;
  margin: 0;
  padding: 0;
}
#documentation #FAQsDoc {
  display: none;
}
#documentation .paragraph {
  display: flex;
  box-shadow: 0 0 15px rgba(0, 113, 188, 0.27);
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
  float: left;
  width: 100%;
}
#documentation .paragraph .documentationLogo,
#documentation .paragraph .documentationText {
  height: 100%;
  float: left;
}
#documentation .paragraph .documentationLogo {
  width: 50px;
  margin-right: 10px;
  text-align: center;
}
#documentation .paragraph .documentationLogo span {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 5px;
  border-radius: 20px;
  padding: 8px;
  background-color: rgba(57, 181, 74, 0.27);
}
#documentation .paragraph .documentationText {
  flex-grow: 1;
}
#documentation .paragraph .documentationText p,
#documentation .paragraph h4 {
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
}
#documentation .paragraph h4 {
  font-size: 17px;
  font-weight: 700;
  color: #0071bc;
}
#documentation .paragraph .documentationLogo h4 {
  display: none;
}
#documentation .noLogo .documentationLogo {
  display: none;
}
#documentation .paragraph .documentationText ul {
  padding-left: 20px;
}
#documentation .paragraph .documentationText ul li {
  margin-bottom: 3px;
}
@media only screen and (min-device-width: 100px) and (max-device-width: 319px) {
  body #documentation .paragraph .documentationLogo span {
    display: none;
  }
  body #documentation .paragraph {
    margin: 10px;
    display: block;
    margin: 20px 0 20px 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 699px) {
  body #documentation .paragraph {
    display: block;
    margin: 20px 0 20px 0;
  }
  body #documentation .paragraph .documentationLogo {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  body #documentation .paragraph .documentationLogo span {
    margin: 0;
  }
  body #documentation .paragraph .documentationLogo h4 {
    margin: 0;
    margin-left: 10px;
    line-height: 20px;
    text-align: left;
    display: block;
    overflow: hidden;
  }
  body #documentation .paragraph .documentationText h4 {
    display: none;
  }
  body #documentation .noLogo .documentationLogo {
    display: block;
  }
  body #documentation .noLogo .documentationLogo h4 {
    margin-left: 0;
    max-width: unset;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
  body #documentation .paragraph .documentationLogo h4 {
    max-width: 165px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 399px) {
  body #documentation .paragraph .documentationLogo h4 {
    max-width: 210px;
  }
}
@media only screen and (min-device-width: 400px) and (max-device-width: 449px) {
  body #documentation .paragraph .documentationLogo h4 {
    max-width: 250px;
  }
}
@media only screen and (min-device-width: 450px) and (max-device-width: 499px) {
  body #documentation .paragraph .documentationLogo h4 {
    max-width: 290px;
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 549px) {
  body #documentation .paragraph .documentationLogo h4 {
    max-width: 350px;
  }
}
@media only screen and (min-device-width: 550px) and (max-device-width: 599px) {
  body #documentation .paragraph .documentationLogo h4 {
    max-width: 390px;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 649px) {
  body #documentation .paragraph .documentationLogo h4 {
    max-width: 440px;
  }
}
@media only screen and (min-device-width: 650px) and (max-device-width: 699px) {
  body #documentation .paragraph .documentationLogo h4 {
    max-width: 480px;
  }
}
#whySection {
  background-color: #0071bc;
  padding-top: 50px;
  padding-bottom: 50px;
}
#whySection h2 {
  margin: 10px 0 35px 0;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 35px;
  font-weight: 900;
  line-height: 35px;
}
#whySection h2 span {
  color: #39b54a;
}
#whySection #whySectionContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#whySection #whySectionContent div {
  width: 250px;
  float: left;
}
#whySection #whySectionContent div h4,
#whySection #whySectionContent div p,
#whySection #whySectionContent div svg {
  float: left;
}
#whySection #whySectionContent div svg {
  width: 35px;
  height: 35px;
  background-color: #fff;
  margin-bottom: 25px;
  border-radius: 30px;
  padding: 5px;
  border: none;
}
#whySection #whySectionContent div h4,
#whySection #whySectionContent div p {
  margin: 0;
  width: 190px;
  margin-left: 25px;
  color: #fff;
  font-size: 13px;
}
#whySection #whySectionContent div h4 {
  font-size: 18px;
  line-height: 12px;
  margin-bottom: 10px;
}
@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  body #whySection h2 {
    text-align: left;
  }
  body #whySection #whySectionContent {
    display: block;
    float: left;
    margin-bottom: 0;
  }
  body #whySection #whySectionContent div {
    width: 100%;
    height: unset;
    margin-bottom: 20px;
  }
  body #whySection #whySectionContent div h4,
  body #whySection #whySectionContent div p {
    width: 70%;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 269px) {
  html body #whySection #whySectionContent div h4,
  html body #whySection #whySectionContent div p {
    width: 51%;
  }
}
@media only screen and (min-device-width: 270px) and (max-device-width: 329px) {
  html body #whySection #whySectionContent div h4,
  html body #whySection #whySectionContent div p {
    width: 70%;
  }
}
