body {
  background-color: #000000;
}
#promoBody {
  background-color: #ffffff;
}

.contentSection {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contentSectTypeB {
  background-color: rgba(0, 113, 188, 0.05);
}

.contentSection .contentImg,
.contentSection article {
  float: right;
}

.contentSectTypeB .contentImg,
.contentSectTypeB article {
  float: left;
}

.contentSectTypeB .contentImg {
  padding-right: 0;
  padding-left: 30px;
}

.contentSection article {
  width: 45%;
}

.contentSection .contentImg {
  width: 55%;
  padding-right: 30px;
}

.contentSection .contentImg img {
  width: 100%;
  border-radius: 15px;
}

.contentSection article h2 {
  margin-top: 0;
  margin-bottom: 18px;
  line-height: 22px;
  font-size: 28px;
}

.contentSection article h3 {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 21px;
  font-size: 20px;
}

.contentSection article h2 span,
.contentSection article h3 {
  color: #0071bc;
}

.contentSection article p {
  margin: 10px 0;
}
