<div class="section articleSection">
  <article>
    <h4>{{articleHeading}}</h4>
    <img src="{{resourcesFolder}}/images/09_article/{{articleId}}.jpg" alt="{{articleHeading}}"/>
    {% for s in paragraphsArray %}
      {% if (s.paragraphType == "paragraph") %}
        <p>{{s.paragraphText}}</p>
      {% elif (s.paragraphType == "header") %}
        <p class="articleHeading">{{s.paragraphText}}</p>
      {% endif %}
      {% if (s.bulletPoints) and (s.bulletPoints.length) %}
      <ul>
        {% for liText in s.bulletPoints %}
        <li>{{liText}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
  </article>

  <div id="otherArticles">
    <h4>Other articles</h4>
    <ul>
      {% for a in otherArticlesArray %}
      <a href="{{a.articleLink}}" title="{{a.articleHeading}}">
        <li>{{a.articleHeading}}</li>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
