<div class="section whySection">
  <h2>WHY CHOOSE <span>PAPERLESS</span></h2>
  <div class="whySectionContent">
    <div>
      {% include "support.njk" %}
      <h4>Excellent support</h4>
      <p>
        We have a dedicated team that is on hand 24/7 to take care of any issues
        that may arise. However, one thing we are confident of, is that your
        user experience will be effortlessly simple and problem free.
      </p>
    </div>
    <div>
      {% include "easy.njk" %}
      <h4>Easy to use</h4>
      <p>
        You do not need to be a tech guru to use this software. We have designed
        it in such a way that it is intuitive. The user friendly interface is
        simple to navigate from point A to Z.
      </p>
    </div>
    <div>
      {% include "reports.njk" %}
      <h4>Accurate reports</h4>
      <p>
        The software generates detailed and accurate reports of all sales
        transactions processed within any given period of time.
      </p>
    </div>
  </div>
</div>
