<div id="cellsSection" class="section">
  <div class="cellDiv cellDiv_01">
    <div class="cellDiv_svgContainer">
      {% include "cell_01.njk" %}
    </div>
    <div class="cellDiv_textContainer">
      <div class="cellDiv_textContainerInner">
        <h4>ACADEMIC RIGOR</h4>
        <p>
          We are commited to upholding the highest standards of academic
          excellence, leveraging cutting edge resources and exceptional
          faculty.
        </p>
      </div>
    </div>
  </div>

  <div class="cellDiv cellDiv_02">
    <div class="cellDiv_svgContainer">
      {% include "cell_02.njk" %}
    </div>
    <div class="cellDiv_textContainer">
      <div class="cellDiv_textContainerInner">
        <h4>WHOLE CHILD DEVELOPMENT</h4>
        <p>
          We believe in cultivating the intellectual, emotional, physical
          and social well-being of our students, empowering them to be
          self-aware, resilient and adaptive individuals.
        </p>
      </div>
    </div>
  </div>

  <div class="cellDiv cellDiv_03">
    <div class="cellDiv_svgContainer">
      {% include "cell_03.njk" %}
    </div>
    <div class="cellDiv_textContainer">
      <div class="cellDiv_textContainerInner">
        <h4>GLOBAL MINDSET</h4>
        <p>
          We forster an international perspective, equipping our students
          with the knowledge, skills and cultural understanding to navigate
          and succeed in the interconnected world.
        </p>
      </div>
    </div>
  </div>

  <div class="cellDiv cellDiv_04">
    <div class="cellDiv_svgContainer">
      {% include "cell_04.njk" %}
    </div>
    <div class="cellDiv_textContainer">
      <div class="cellDiv_textContainerInner">
        <h4>ETHICAL LEADERSHIP</h4>
        <p>
          We instil the values of integrity, empathy, sustainability, social
          responsibility, preparing our students to become ethical
          decision-makers and agents of positive change.
        </p>
      </div>
    </div>
  </div>

  <div class="cellDiv cellDiv_05">
    <div class="cellDiv_svgContainer">
      {% include "cell_05.njk" %}
    </div>
    <div class="cellDiv_textContainer">
      <div class="cellDiv_textContainerInner">
        <h4>INNOVATION AND CREATIVITY</h4>
        <p>
          We celebrate and encourage innovative thinking, problem solving
          and creative expression enabling our students to pioneer solutions
          to the challenges of the future.
        </p>
      </div>
    </div>
  </div>

  <div class="cellDiv cellDiv_06">
    <div class="cellDiv_svgContainer">
      {% include "cell_06.njk" %}
    </div>
    <div class="cellDiv_textContainer">
      <div class="cellDiv_textContainerInner">
        <h4>INCLUSIVE COMMUNITY</h4>
        <p>
          We celebrate diversity and build collaborative community that
          respects and embraces individual differences, preparing our
          students to thrive in an increasingly diverse world.
        </p>
      </div>
    </div>
  </div>
</div>
