<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>04 - About section</title>
    <link rel="stylesheet" href="../00common/00common.css" />
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <div id="aboutSection" class="section">
      <div id="aboutSection_videoDiv">
        <iframe
          src="https://www.youtube.com/embed/cAXe8PMRpOU?si=44sNSHJ0qusud3K7"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div id="aboutSection_textDiv">
        <h4>The Hill</h4>
        <p>
          Nestled in the heart of the picturesque Borrowdale valley, in
          Crowhill, The Hill Preparatory is more than just a school, but a
          transformative journey that unlocks the full potential of every
          student.
        </p>
        <p>
          Established in 2024, this elite institution is redefining the prowess
          with the cultivation of well-rounded, globally-minded leaders.
        </p>
        <p>
          At The Hill, our curriculum goes far beyond the traditional focus on
          math, science, and English. Here, students embark on a holistic
          exploration of the world, developing essential life skills like
          critical thinking, creativity, ethical decision-making, and
          environmental stewardship.
        </p>
      </div>
    </div>
  </body>
</html>
