<div id="aboutSection" class="section">
  <h2 class="sectionTitle">About Us</h2>
  <div id="aboutSectionContainer">
    <div id="aboutSection_videoDiv">
      <iframe
        src="https://www.youtube.com/embed/cAXe8PMRpOU?si=44sNSHJ0qusud3K7"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div id="aboutSection_textDiv">
      <p>Established in 2024 and nestled in Crowhill, in the picturesque Borrowdale valley, The Hill Preparatory School is more than just a school, it is a transformative educational journey whose aim is to unlock the full potential of every child.</p>
      <p>At The Hill, our curriculum goes beyond the traditional focus of English, Maths and Science. Here pupils embark on an exploration of the Oxford curriculum in Computing, Global Skills Projects, Sustainability and Wellbeing – enabling them to develop critical thinking, creativity, ethical decision-making and environmental stewardship – while enjoying the dream of learning “Frui Somnium Doctrina”.</p>
      <p>Our experienced teaching staff are led by the Headmaster, Mr Hans Christen, the Deputy Headmaster, Mr Tex Harding, The Head of the Infants’ Department, Mrs Pamhidzai Chikumba and the Director of Sport, Mr Graeme Ellis.</p>
    </div>
  </div>
</div>
