<div id="aboutSection" class="section">
  <h2 class="sectionTitle">The Hill</h2>
  <div id="aboutSectionContainer">
    <div id="aboutSection_videoDiv">
      <iframe
        src="https://www.youtube.com/embed/cAXe8PMRpOU?si=44sNSHJ0qusud3K7"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div id="aboutSection_textDiv">
      <p>
        Nestled in the heart of the picturesque Borrowdale valley, in
        Crowhill, The Hill Preparatory is more than just a school, but a
        transformative journey that unlocks the full potential of every
        student.
      </p>
      <p>
        Established in 2024, this elite institution is redefining the prowess
        with the cultivation of well-rounded, globally-minded leaders.
      </p>
      <p>
        At The Hill, our curriculum goes far beyond the traditional focus on
        math, science, and English. Here, students embark on a holistic
        exploration of the world, developing essential life skills like
        critical thinking, creativity, ethical decision-making, and
        environmental stewardship.
      </p>
    </div>
  </div>
</div>