.videoSection {
  float: left;
}

.videoSection .videoSectionContainer {
  width: 100%;
  float: left;
  display: block;
}

.videoSection .videoSection_textDiv {
  width: 50%;
  float: left;
  padding: 10px;
  padding-left: 0;
}
.videoSection .videoSection_textDiv h4 {
  margin-bottom: 10px;
}
.videoSection .videoSection_textDiv p {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
  padding-left: 0;
}

.videoSection .videoSection_mediaDiv {
  width: 50%;
  float: left;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9; /* Adjust this value based on your video's aspect ratio */
}
.videoSection .videoSection_mediaDiv iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
