@media only screen and (min-device-width: 100px) and (max-device-width: 849px) {
  body .videoSection {
    display: block;
  }
  body .videoSection .videoSection_mediaDiv,
  body .videoSection .videoSection_textDiv {
    float: left;
    width: 100%;
  }
  body .videoSection .videoSection_textDiv p {
    padding-left: 0;
  }
}
