#subjectsSection {
  margin-top: 40px;
}

#subjectsSection .sectionTitle {
  text-align: center;
  margin-bottom: 30px;
}

#subjectsSection .subjectDiv {
  float: left;
  width: 120px;
  padding: 0 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

#subjectsSection .subjectDiv .subjectDiv_pngContainer,
#subjectsSection .subjectDiv .subjectDiv_textContainer {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subjectsSection .subjectDiv .subjectDiv_textContainer {
  margin-top: 10px;
}

#subjectsSection .subjectDiv .subjectDiv_pngContainer img {
  width: 60px;
  float: left;
  display: block;
}

#subjectsSection .subjectDiv .subjectDiv_textContainer h4 {
  width: 100%;
  float: left;
  text-align: center;
}
