#subjectsSection {
  margin-top: 40px;
}

#subjectsSection .subjectDiv {
  width: 120px;
  float: left;
  min-height: 150px;
  margin-bottom: 15px;
  padding: 0 15px;
}

#subjectsSection .subjectDiv .subjectDiv_svgContainer,
#subjectsSection .subjectDiv .subjectDiv_textContainer {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subjectsSection .subjectDiv .subjectDiv_textContainer {
  margin-top: 10px;
}

#subjectsSection .subjectDiv .subjectDiv_svgContainer svg {
  width: 60px;
  float: left;
  display: block;
  fill: #0a173b;
}

#subjectsSection .subjectDiv .subjectDiv_textContainer h4 {
  width: 100%;
  float: left;
  text-align: center;
}
