#subjectsSection {
  margin-top: 40px;
}

#subjectsSection .subjectDiv {
  width: 33%;
  float: left;
  min-height: 150px;
  margin-bottom: 15px;
  padding: 0 15px;
}

#subjectsSection .subjectDiv .subjectDiv_svgContainer,
#subjectsSection .subjectDiv .subjectDiv_textContainer {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
#subjectsSection .subjectDiv .subjectDiv_svgContainer {
  width: 25%;
}
#subjectsSection .subjectDiv .subjectDiv_textContainer {
  width: 75%;
}

#subjectsSection .subjectDiv .subjectDiv_svgContainer svg {
  width: 60px;
  float: left;
  display: block;
  fill: #0a173b;
  padding-right: 10px;
}

#subjectsSection
  .subjectDiv
  .subjectDiv_textContainer
  .subjectDiv_textContainerInner
  h4,
#subjectsSection
  .subjectDiv
  .subjectDiv_textContainer
  .subjectDiv_textContainerInner
  p {
  width: 100%;
  float: left;
}

#subjectsSection
  .subjectDiv
  .subjectDiv_textContainer
  .subjectDiv_textContainerInner
  h4 {
  color: #ed2224;
  margin-bottom: 5px;
}
