<div id="updatesSection" class="section">
  <h2 class="sectionTitle">Here are some updates you should know about.</h2>
  <div id="updatesContainer">
    <div class="updatesContainer_Col">
      <div class="updateDiv">
        <div class="updateDivSect updateDivSect_Img">
          <img src="{{resourcesFolder}}/07_Updates/update_01.jpg" />
        </div>
        <div class="updateDivSect updateDivSect_Text">
          <h4>2024 Graduation Speaker</h4>
          <h5>Apr 19 2024</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
            quis ante sed, gravida efficitur lectus.
          </p>
        </div>
      </div>
    </div>
    <div class="updatesContainer_Col updatesContainer_Col_Min">
      <div class="updateDiv">
        <div class="updateDivSect updateDivSect_Img">
          <img src="{{resourcesFolder}}/07_Updates/update_02.jpg" />
        </div>
        <div class="updateDivSect updateDivSect_Text">
          <h4>2024 Graduation Speaker</h4>
          <h5>Apr 19 2024</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
            quis ante sed, gravida efficitur lectus.
          </p>
        </div>
      </div>
      <div class="updateDiv">
        <div class="updateDivSect updateDivSect_Img">
          <img src="{{resourcesFolder}}/07_Updates/update_03.jpg" />
        </div>
        <div class="updateDivSect updateDivSect_Text">
          <h4>2024 Graduation Speaker</h4>
          <h5>Apr 19 2024</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
            quis ante sed, gravida efficitur lectus.
          </p>
        </div>
      </div>
      <div class="updateDiv">
        <div class="updateDivSect updateDivSect_Img">
          <img src="{{resourcesFolder}}/07_Updates/update_01.jpg" />
        </div>
        <div class="updateDivSect updateDivSect_Text">
          <h4>2024 Graduation Speaker</h4>
          <h5>Apr 19 2024</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
            quis ante sed, gravida efficitur lectus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
