<div class="heroSection">
  <img
    class="backgroundImg"
    src="{{resourcesFolder}}/images/02_hero/heroBackground.jpg"
    alt="A retail outlet operating using the free trial version of Paperless Retail software."
  />

  {% for hSect in heroSectionsArray %}
  <div class="heroSlide {{hSect.heroSlideId}}">
    <div class="section heroContent">
      <p class="heroSlideNumber">0{{loop.index}}</p>
      <div class="heroText">
        <h2>{{hSect.heroHeaderText}}</h2>

        {% for hp in hSect.heroParagraphsArray %}
          {% if (hp.paragraphType == "paragraph") %}
            <p>{{hp.paragraphText}}</p>
          {% elif (hp.paragraphType == "bold") %}
            <p class="heroBoldText">{{hp.paragraphText}}</p>
          {% elif (hp.paragraphType == "mini") %}
            <p class="heroMiniText">{{hp.paragraphText}}</p>
          {% endif %}
        {% endfor %}

        {% if (hSect.heroFeaturesArray) %}
        <ul class="features">
          {% for hf in hSect.heroFeaturesArray %}
          <li>
            <span class="svgSpan">{% include hf.featureIcon %}</span>
            <span>{{hf.featureLabel}}</span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if (hSect.heroButtonsArray) %}
        <div class="ctaBtns">
          {% for hb in hSect.heroButtonsArray %}
          <a href="{{hb.buttonHref}}" class="{{hb.buttonClass}}" title="{{hb.buttonTitle}}">
            {% include hb.buttonIcon %}
            <span>{{hb.buttonLabel}}</span>
          </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="heroScreenshot">
      <img
        src="{{resourcesFolder}}/images/02_hero/{{hSect.screenshotImageName}}.png"
        alt="{{hSect.screenshotImageAlternativeText}}"
      />
    </div>
  </div>
  {% endfor %}

  {% if (heroSectionsArray and heroSectionsArray.length > 1) %}
  <div class="section slideSelectDiv">
    {% for hSect in heroSectionsArray %}
    <div class="slideSelectButton" data-slide_id="{{hSect.heroSlideId}}">
      <span class="svgSpan">{% include hSect.heroSoftwareLogo %}</span>
      <p>{{hSect.heroSoftwareShortname}}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<script type="text/javascript" src="{{jsFolder}}/hero.js"></script>
