<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "metadata.njk" %}
    <link rel="stylesheet" href="./css/1_index.css" />
    <title>Index</title>
  </head>
  <body>
    {% include "01_Navbar.njk" %}
    {% include "02_Carousel.njk" %}
    {% include "04_About.njk" %}
    {% include "06_Staff.njk" %}
    {% include "07_Updates.njk" %}
    {% include "08_Footer.njk" %}
  </body>
</html>
