<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "metadata.njk" %}
    <link rel="stylesheet" href="./css/3_curriculum.css" />
    <title>The Oxford International Curriculum</title>
  </head>
  <body>
    {% include "01_Navbar.njk" %}
    {% include "10_Video_Curriculum.njk" %}
    {% include "12_Subjects.njk" %}
    {% include "11_Content_C.njk" %}
    {% include "08_Footer.njk" %}
  </body>
</html>
