@media only screen and (min-device-width: 100px) and (max-device-width: 849px) {
  #staffSection .staffDivContainer {
    display: block;
  }
  #staffSection .staffDiv {
    float: left;
  }
}
@media only screen and (min-device-width: 100px) and (max-device-width: 599px) {
  #staffSection .staffDiv {
    width: 100%;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 850px) {
  #staffSection .staffDiv {
    width: 48%;
    margin: 10px 1%;
  }
}
