<div id="testimonialSection" class="section">
  <h2 class="sectionTitle">What do they say about the Hill?</h2>
  <div id="testimonialDivContainer">
    <div class="testimonialDiv">
      <img src="./photos/01.jpg" />
      <h3>Person 1</h3>
      <h4>Parent</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
    </div>
    <div class="testimonialDiv">
      <img src="./photos/02.jpg" />
      <h3>Person 2</h3>
      <h4>Parent</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
    </div>
    <div class="testimonialDiv">
      <img src="./photos/03.jpg" />
      <h3>Person 3</h3>
      <h4>former Student</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
    </div>
  </div>
</div>