<div id="testimonialSection" class="section">
  <h2 class="sectionTitle">What do they say about the Hill?</h2>

  <div id="testimonialDivContainer">
    <div class="testimonialDiv">
      <img src="{{resourcesFolder}}/05_Testimonials/testimonials_01.jpg" />
      <h4>Person 1</h4>
      <h5>Current Parent</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
    </div>

    <div class="testimonialDiv">
      <img src="{{resourcesFolder}}/05_Testimonials/testimonials_02.jpg" />
      <h4>Person 2</h4>
      <h5>Former Parent</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
    </div>

    <div class="testimonialDiv">
      <img src="{{resourcesFolder}}/05_Testimonials/testimonials_03.jpg" />
      <h4>Person 3</h4>
      <h5>Former Student</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
        vehicula sapien sed semper tempus. Vestibulum diam libero, tincidunt
        quis ante sed, gravida efficitur lectus.
      </p>
      <p>
        Ut accumsan ipsum ut augue gravida tincidunt. Pellentesque facilisis
        ligula vel erat tincidunt dapibus. Nulla facilisi.
      </p>
    </div>
  </div>
</div>
