@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  #cellsSection .cellDiv {
    width: 100%;
    min-height: unset;
  }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 999px) {
  html body #cellsSection .cellDiv {
    width: 50%;
    min-height: 125px;
  }
  html body #cellsSection .cellDiv .cellDiv_svgContainer svg {
    width: 75px;
  }
}
