#cellsSection {
  margin-top: 40px;
}

#cellsSection .cellDiv {
  width: 33%;
  float: left;
  min-height: 150px;
  margin-bottom: 15px;
  padding: 0 15px;
}

#cellsSection .cellDiv .cellDiv_svgContainer,
#cellsSection .cellDiv .cellDiv_textContainer {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cellsSection .cellDiv .cellDiv_svgContainer {
  width: 25%;
}
#cellsSection .cellDiv .cellDiv_textContainer {
  width: 75%;
}

#cellsSection .cellDiv .cellDiv_svgContainer svg {
  width: 60px;
  float: left;
  display: block;
  fill: #0a173b;
  padding-right: 10px;
}

#cellsSection .cellDiv .cellDiv_textContainer .cellDiv_textContainerInner h4,
#cellsSection .cellDiv .cellDiv_textContainer .cellDiv_textContainerInner p {
  width: 100%;
  float: left;
}

#cellsSection .cellDiv .cellDiv_textContainer .cellDiv_textContainerInner h4 {
  color: #ed2224;
  margin-bottom: 5px;
}

#cellsSection .cellDiv .cellDiv_textContainer .cellDiv_textContainerInner p {
  font-size: 13px;
  line-height: 14px;
  color: #0a173b;
}
