<div class="section documentation">
  <ul class="docType">
    <li class="paragraph">
      <div class="documentationLogo">
        <span>{% include "support.njk" %}</span>
        <h4>Reliable support</h4>
      </div>
      <div class="documentationText">
        <h4>Reliable support</h4>
        <p>
          Using a new product can be exciting, but it can also be a daunting task especially if you are not 
          a tech guru. With our software you have nothing to worry about, as we provide excellent support. 
          Paperless Enterprise Software has an intuitive user experience, and also comes with a manual. 
          If for some reason you face challenges while using the software, please contact us. We always have at 
          least 1 technician on standby to take care of any issues you might encounter.
        </p>
      </div>
    </li>
    <li class="paragraph">
      <div class="documentationLogo">
        <span>{% include "currency.njk" %}</span>
        <h4>Multiple currency transactions</h4>
      </div>
      <div class="documentationText">
        <h4>Multiple currency transactions</h4>
        <p>
          One of the draw cards of our software is its unique multi-currency system. Paperless Retail calculates 
          change precisely in any currency used by your customers. It also generates sales reports accurately
          despite the variety of currencies that would have been used by your customers. This is one less 
          headache for most retailers in the country.
        </p>
      </div>
    </li>
    <li class="paragraph">
      <div class="documentationLogo">
        <span>{% include "reports02.njk" %}</span>
        <h4>Get daily sales reports</h4>
      </div>
      <div class="documentationText">
        <h4>Get daily sales reports</h4>
        <p>
          Monitoring how your business is progressing on a day to day basis is very important, as it can be the 
          difference between success and failure. With Paperless Retail, it has never been easier.
        </p>
        <p>
          The software provides reports which you can print out at any time. The reports are in depth and 
          will give you even the minutest of detail of all sales transactions and refunds that were processed. 
          No need to strain your eyes, and waste precious time going through piles of paper. All you need is 
          to click a few buttons, and your report will be out in no time, ready for perusal.
        </p>
      </div>
    </li>
    <li class="paragraph">
      <div class="documentationLogo">
        <span>{% include "secure.njk" %}</span>
        <h4>Secure</h4>
      </div>
      <div class="documentationText">
        <h4>Secure</h4>
        <p>
          Security is everything, and our software is guaranteed to safeguard your sales records from manipulation. 
          Managers have full control over the system, and it cannot be bypassed or manipulated by any other user
          ( e.g. supervisors or tellers ). All accounts are password protected. Paperless Retail is a security fortress 
          for your sales reports.
        </p>
      </div>
    </li>
  </ul>

  <ul class="docType FAQsDoc">
    <li class="noLogo paragraph">
      <div class="documentationLogo">
        <h4>What is Paperless Integrated Solutions?</h4>
      </div>
      <div class="documentationText">
        <h4>What is Paperless Integrated Solutions?</h4>
        <p>
          Founded in 2023 we are an enterprise software company whose vision and focus is to provide 
          world-class enterprise software solutions at affordable prices. We offer a myriad of business 
          technology solutions across industries including finance, retail, healthcare, and manufacturing.
        </p>
        <p>
          CEO and Founder Thokozani Msebele oversees the company from headquarters in Harare, Zimbabwe.
        </p>
      </div>
    </li>
    <li class="noLogo paragraph">
      <div class="documentationLogo">
        <h4>What is Paperless Retail?</h4>
      </div>
      <div class="documentationText">
        <h4>What is Paperless Retail?</h4>
        <p>
          It is a point of sale system designed and supported by Paperless Integrated Solutions.
          It was made primarily to meet the needs of retailers in Zimbabwe as it simplifies the processing 
          of sales transactions and helps them keep accurate sales records.
        </p>
        <p>
          To read more about Paperless Retail click
          <a
            href="{{pageLinks.article_a}}"
            class="mseLink"
            title="What is Paperless Retail?"
            >here.</a
          >
        </p>
      </div>
    </li>
    <li class="noLogo paragraph">
      <div class="documentationLogo">
        <h4>Why does my retail outlet need Paperless Retail?</h4>
      </div>
      <div class="documentationText">
        <h4>Why does my retail outlet need Paperless Retail?</h4>
        <ul>
          <li>
            It allows you to have better control over your business operations. With a POS system, you know 
            exactly which products you have sold on daily or monthly bases, how many products are in the 
            warehouse or how much money you have made.
          </li>
          <li>
            It makes it easier to keep track of your inventory, to notice and analyze movements and tendencies 
            in sales processes, to analyze your sales reports and other data in order to predict more precisely 
            your company’s requirements.
          </li>
          <li>Multiple currency transactions.</li>
          <li>Reliable and dedicated support team.</li>
        </ul>
        <p>
          For more on this click
          <a
            href="{{pageLinks.article_a}}"
            class="mseLink"
            title="Five reasons your retail outlet needs a POS system."
            >here.</a
          >
        </p>
      </div>
    </li>
    <li class="noLogo paragraph">
      <div class="documentationLogo">
        <h4>What hardware do I need for a POS system?</h4>
      </div>
      <div class="documentationText">
        <h4>What hardware do I need for a POS system?</h4>
        <ul>
          <li>
            Computer: The POS software runs in the CPU, while transaction progress is displayed on the monitor. 
            Paperless Retail is optimized to work for touch screen computers, but it can also work quite well
            with keyboards. The mouse is not necessary for performing transactions. Touch screens computer 
            systems are more user friendly than computer systems which use a keyboard and mouse.
          </li>
          <li>
            Barcode scanner: Scanning barcodes is the fastest way to pulls product info and add it into the cart.
          </li>
          <li>
            Thermal receipt printer: Paper receipts remain essential for providing customers with a quick 
            snapshot of their purchase or returns. They also play a role in store security.
          </li>
          <li>Cash drawer</li>
          <li>Credit card reader</li>
        </ul>
      </div>
    </li>
    <li class="noLogo paragraph">
      <div class="documentationLogo">
        <h4>What are the advantages of using thermal printers?</h4>
      </div>
      <div class="documentationText">
        <h4>What are the advantages of using thermal printers?</h4>
        <ul>
          <li>Lower maintenance costs</li>
          <li>Excellent print quality</li>
          <li>High reliability</li>
          <li>Easy handling — no ink / ribbon</li>
          <li>High speed printing</li>
          <li>Easy paper loading</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
