#bannerSection {
  float: left;
  margin-top: 50px;
  margin-bottom: 30px;
}

#bannerSection h1,
#bannerSection h3,
#bannerSection h4 {
  text-align: center;
  font-weight: normal;
  font-family: "MSE_OpenSans_Regular";
}

#bannerSection h1 {
  font-family: "MSE_Athelas_Bold";
  font-weight: bold;
}

#bannerSection h3 {
  margin-top: 15px;
}
