@media only screen and (min-device-width: 100px) and (max-device-width: 999px) {
  body .heroSection .heroContent .heroText {
    border: none;
  }

  body .heroSection .backgroundImg {
    width: unset;
    height: 100%;
  }

  body .heroSection .heroContent {
    margin-bottom: 200px;
  }

  body .heroSection .heroContent .heroText {
    margin-left: 0;
    width: unset;
  }

  body .heroSection .heroContent .heroText .features {
    float: unset;
  }

  body .heroSection .heroContent .heroText .features li {
    width: 100%;
    float: unset;
  }

  body .heroSection .heroContent .heroSlideNumber {
    margin-top: 0;
  }

  body .heroSection .heroMenu ul {
    margin-right: 0;
    width: 100%;
  }

  body .heroSection .heroMenu ul li {
    width: 50%;
  }

  body .heroSection .heroScreenshot {
    width: 100%;
    top: unset;
    left: 0;
    bottom: 110px;
    border-radius: 10px;
  }

  html body .heroSection .heroScreenshot img {
    display: block;
    margin: 0 auto;
  }

  html body .heroSection .slideSelectDiv {
    width: 90%;
    left: 5%;
  }
}

@media only screen and (min-device-width: 100px) and (max-device-width: 399px) {
  body .miniMobile {
    display: block;
  }

  body .largerMobile {
    display: none;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 999px) {
  body .miniMobile {
    display: none;
  }

  body .largerMobile {
    display: block;
  }
}

@media only screen and (min-device-width: 100px) and (max-device-width: 299px) {
  body .heroSection .heroContent {
    margin-bottom: 0;
  }

  html body .heroSection .heroScreenshot {
    display: none;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 399px) {
  body .heroSection .heroContent {
    margin-bottom: 170px;
  }

  html body .heroSection .heroScreenshot {
    bottom: 100px;
  }

  html body .heroSection .heroScreenshot img {
    width: 260px;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 499px) {
  body .heroSection .heroContent {
    margin-bottom: 230px;
  }

  html body .heroSection .heroScreenshot img {
    width: 350px;
  }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 599px) {
  body .heroSection .heroContent {
    margin-bottom: 260px;
  }

  html body .heroSection .heroScreenshot img {
    width: 400px;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 999px) {
  body .heroSection .heroContent {
    margin-bottom: 320px;
  }

  html body .heroSection .heroScreenshot img {
    width: 500px;
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1099px) {
  body .heroSection .heroScreenshot {
    width: 390px;
  }
}

@media only screen and (min-device-width: 1100px) and (max-device-width: 1199px) {
  body .heroSection .heroScreenshot {
    width: 450px;
  }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1299px) {
  body .heroSection .heroScreenshot {
    width: 500px;
  }
}

@media only screen and (min-device-width: 1300px) and (max-device-width: 1699px) {
  body .heroSection .heroScreenshot {
    width: 600px;
  }
}

@media only screen and (min-device-width: 1700px) {
  body .heroSection .heroScreenshot {
    width: 700px;
  }
}
