<div class="section contentSection content_A">
  <h3>Welcome to</h3>
  <h2 class="sectionTitle">The Hill Preparatory School</h2>
  <h5>Try Paperless Retail software for FREE</h5>
  <div class="contentSectInnerDiv">
    <article>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non turpis justo. Duis aliquet maximus velit a scelerisque. Suspendisse id semper nibh. Morbi ornare lacus libero, a dapibus dui consectetur rhoncus.</p>
      <p>Sed accumsan accumsan ullamcorper. Nam bibendum, purus sed tincidunt cursus, libero purus mattis diam, id mattis magna lacus nec mauris. Maecenas semper id mi sit amet ultricies. Duis tincidunt eu dui et tristique.</p>
      <p>Pellentesque consequat mi at imperdiet condimentum. Donec non auctor justo. Vestibulum lobortis nibh vel libero pellentesque venenatis. Duis sollicitudin enim non felis ullamcorper semper.</p>
      <p>Etiam efficitur neque sit amet velit malesuada, id venenatis lacus rhoncus. Nullam ac lacinia arcu. Vestibulum consequat ultrices blandit. Nullam pharetra congue enim, eu luctus augue suscipit sit amet.</p>
      <p>Ut eu quam dictum, maximus ligula fringilla, ullamcorper risus. Aliquam laoreet fermentum arcu, vitae pellentesque dolor. Nulla ultrices, odio ut euismod aliquam, orci erat luctus tellus, at auctor eros ligula ac lorem. Nulla pellentesque ligula in congue gravida. Donec magna quam, convallis sit amet dapibus et, tristique eu nibh.</p>
      <p>Quisque suscipit sollicitudin tempus. Aliquam eu sem sed nisl sagittis condimentum. Nullam rhoncus vehicula lorem ut venenatis. Sed eu suscipit odio. Integer vehicula metus nisi, quis rhoncus ante venenatis accumsan. Nullam laoreet ligula turpis, quis varius tortor vehicula laoreet.</p>
    </article>
    <div class="contentMedia">
      <img src="{{resourcesFolder}}/11_Content/content_01.jpg" />
    </div>
  </div>
</div>
