<div class="section contentSection contentSectTypeB content_C">
  <article>
    <h2>Multiple subjects one teaching method</h2>
    <p>The Oxford International Curriculum employs project-based learning across all disciplines, integrating academic content with real-world contexts. This approach enables students to grasp the relevance and objectives of each lesson while applying learned concepts to everyday situations. Through the harmonious blend of theory and practice, students cultivate a zeal for learning and acquire a rich array of knowledge and skills.</p>
    <p>Additionally, the Oxford International Curriculum places students at the center and emphasizes mental and physical well-being by integrating Wellbeing education into core subjects. This approach allows students to comfortably express themselves, gain self-awareness, and understand the world around them while strengthening bonds with peers, teachers, family, and the community. As a result, students not only find joy in learning but also discover the joy of living and happiness.</p>
    <div class="ctaBtns desktopOnlyElement">
      <a href="{{pageLinks.index}}">
        <div class="ctaBtn">
          <span>Start free trial</span>
        </div>
      </a>
    </div>
  </article>
  <div class="contentImg">
    <img src="{{resourcesFolder}}/11_Content/content_02.jpg" />
  </div>
</div>
