<div class="section contentSection content_B">
  <article>
    <h2>ABOUT <span>PAPERLESS</span></h2>
    <p>
      The Egyptians have long been credited with having invented paper. However,
      like pyramids, paper is also now a thing of the past. Look into the future
      with Paperless, a group of innovative applications which will digitize and
      usher your workplace into a paper free era.
    </p>
    <p>
      We have Paperless Retail which has come as a much-needed solution for the
      retail sector. It processes sales, retains records and keeps track of your
      stock, all at once. Patient records are a treasure in any medical facility
      and Paperless Hospital keeps that treasure safe for you. This information
      is easily accessible by authorized personnel whenever needed.
    </p>
    <p>
      Paperless School seamlessly combines various arms of administration in
      schools, for quicker dissemination of information. From finance to
      operations; school head to teachers; decision making is much faster and
      more efficient. Paperless Pharmacy handles all customer prescriptions and
      processes sales, whilst keeping track of previous and current purchases.
    </p>
  </article>
  <div class="contentImg">
    <img src="{{resourcesFolder}}/11_Content/content_01.jpg" />
  </div>
</div>
