<div class="section contentSection contentSectTypeB content_D">
  <h2 class="sectionTitle">We follow the Oxford International Curriculum</h2>
  <div class="contentSectInnerDiv">
    <article>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie, arcu in rhoncus accumsan, sapien nulla aliquam eros, sit amet tincidunt arcu erat eu quam. Sed ultrices felis nec elit interdum, sit amet congue dolor laoreet. Donec non magna sed magna tempor congue non sed neque. Donec eleifend pretium purus.</p>
      <p>Duis ac convallis odio. Suspendisse potenti. Morbi mollis enim non erat dictum, ut finibus tellus hendrerit. Praesent malesuada laoreet viverra. Quisque iaculis bibendum dictum. Maecenas elementum quis mauris convallis ultricies. Sed sit amet interdum magna. Nullam placerat commodo elementum.</p>
      <p>Ut consectetur enim ut ante dapibus, sed porttitor purus ultrices. Maecenas interdum tortor dui, rhoncus tincidunt enim vulputate sed.</p>
      <p>Etiam semper, diam vitae malesuada tincidunt, nibh tortor feugiat enim, a lobortis arcu dui non leo. In consectetur ante orci, interdum tempus nibh egestas vel.</p>
    </article>
    <div class="contentMedia">
      <iframe
        src="https://www.youtube.com/embed/KFwokZvAjSo?si=gvzdyFKJTtJnSExJ" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
