<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "metadata.njk" %}
    <link rel="stylesheet" href="./css/4_catalogue.css" />
    <title>Paperless - Enterprise software for every business.</title>
  </head>
  <body>
    {% include "01_navbar.njk" %}
    {% include "05_banner.njk" %}
    {% include "06_catalogue.njk" %}
    {% include "04_why.njk" %}
    {% include "10_footer.njk" %}
  </body>
</html>
